// Scss Variables
$--color-dark-background: #1f2024;
$--color-light-background: #8ae9ec;
$--color-text: #f8fef9;

// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Body (Centering children)
body {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  overflow: hidden;

  background-color: $--color-dark-background;
}

//calculator
.calculator {
  width: min(60vw, 30rem);
  aspect-ratio: 6/9;

  background-color: $--color-dark-background;

  &__frame {
    width: 100%;
    height: 100%;

    border: 2px $--color-light-background solid;
    border-radius: min(6vw, 1.5rem);

    display: flex;
    flex-direction: column;

    justify-content: start;
    align-items: start;

    overflow: hidden;

    &__screen {
      width: 100%;
      height: 35%;

      display: flex;
      flex-direction: column;

      justify-content: end;
      align-items: end;

      padding: 10% 10% 8% 10%;
      &__text-display {
        font-size: 2rem;
        font-weight: bold;
        color: white;
      }
      &__error-display {
        height: 10px;
        color: red;
      }
    }

    &__buttons {
      width: 100%;
      height: 66%;

      border-top: 2px $--color-light-background solid;

      display: flex;
      flex-direction: column;

      justify-content: start;
      align-items: start;

      flex-wrap: wrap;

      align-content: space-evenly;
      &__button {
        height: 20%;
        width: 25%;

        flex-shrink: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: transparent;

        border: 1px $--color-light-background solid;

        color: $--color-text;

        font-size: 1.5rem;

        &:hover {
          background-color: #ffffff1e;
        }

        &--equal-button {
          flex-grow: 1;
        }
      }
    }
  }
}

.nours-piece {
  position: absolute;
  right: 30px;
  bottom: 30px;

  &__nour-pic {
    width: 5rem;
    height: 5rem;

    border: 2px $--color-light-background solid;
    border-radius: 3rem;

    background-image: url("../assets/images/Nour-Profile-Pic.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 0% 30%;

    background-color: $--color-light-background;

    cursor: not-allowed;
  }
  &__link-icons {
    display: flex;
    flex-direction: row;

    justify-content: space-between;

    &__icon {
      width: 2rem;
      height: 2rem;

      background-color: transparent;
      background-repeat: no-repeat;
      background-size: 100%;
      background-position: 50%;

      border-radius: 1.5rem;

      &--github {
        background-image: url("../assets/images/github.png");
        &:hover {
          scale: 1.1;
        }
      }
      &--linkedin {
        background-image: url("../assets/images/linkedin.png");
        &:hover {
          scale: 1.1;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .calculator {
    width: 80vw;
  }

  .nours-piece {
    visibility: hidden;
    opacity: 0;
  }
}
